@import "tailwindcss";
@theme {
    /* Регистрация анимации в системе Tailwind */
    --animate-blob: blob 7s infinite cubic-bezier(0.6, 0.01, 0.3, 0.9);
    --animate-fade-in: fade-in 0.3s ease-out;
    --animate-slide-in-top: slide-in-top 0.3s ease-out;

    /* Регистрация ключевых кадров */
    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }

        @keyframes fade-in {
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }
    
        @keyframes slide-in-top {
            from {
                transform: translateY(-20px);
                opacity: 0;
            }
    
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

    --animation-delay-2000: 2s;
    --animation-delay-4000: 4s;
}

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100;
        width: 100;
        overscroll-behavior: none;
        overflow-x: hidden;
        background-color: #3730a3;
    }
}